*{
    box-sizing: border-box;
}
body{
    background: #000;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    scroll-behavior: smooth;
}
h1{
    letter-spacing: 3px;
}
.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
div.pokemon{
    max-width: 280px;
    background-color: #eee;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}
img:not([src]){
    visibility: hidden;
}
div.pokemon div.img-container{
    width: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
}
div.pokemon div.img-container > img{
    margin-top: 20px;
    width: 90%;
    height: auto;
}
div.pokemon div.info{
    font-size: 1em;
    margin-top: 20px;
    width: 100%;
    height: auto;
}
div.pokemon span.number{
    background: #fff;
    border-radius: 50%;
    font-size: 0.8em;
    padding: 5px 10px;
}
div.pokemon h3.name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
    opacity: 0.9;
}
@media only screen and (max-device-width: 415px) {
    h1{
        font-size: 4em;
        color: #000;
    }
    div.pokemon div.info{
        font-size: 40px;
    }
    div.pokemon div.img-container{
        width: 240px;
    }
    div.pokemon h3.name{
        font-size: 0.95em;
    }
    div.pokemon small.type{
        font-size: 0.8em;
    }
}